@using IleriWeb.Web.Helpers
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
	var rate = (double?)HttpContextAccessor.HttpContext?.Items["CurrencyRate"];
	var Currency = (string?)HttpContextAccessor.HttpContext?.Items["Currency"];
	var basket = ViewData["Basket"] as Basket;
	
	decimal TotalPrice = 0;
	foreach (var i in basket.Items)
	{
		TotalPrice += i.TotalPrice;

	}
}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<h3 class="breadcrumb-header">Checkout</h3>
				<ul class="breadcrumb-tree">
					<li><a href="#">Home</a></li>
					<li class="active">Checkout</li>
				</ul>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->

		<div class="col">

			<div class="col">

				<div class="col-md-7">
					<!-- Billing Details -->
					<div class="billing-details" style="width:100vh">
						<div class="section-title">
							<h3 class="title">Cart</h3>
						</div>
					
						<div >
							@foreach (var item in basket.Items)
							{
								<div class="product-widget">
									<div class="product-img">
										@{
											var base64 = Convert.ToBase64String(item.Product.ImageData);
											var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
										}
										<img src="@imgSrc"  />
									</div>
									<div class="product-body">
										<h3 class="product-name"><a href="#">@item.Product.Name</a></h3>

										<h4 class="product-price"><span class="qty">@item.Quantity x</span> @CurrencyHelper.ConvertCurrency(item.TotalPrice, rate) @Currency </h4>
									</div>
									<button class="delete" onclick="window.location.href='/Cart/RemoveFromCart/@item.Id'"><i class="fa fa-close"></i></button>
								</div>
							}
						</div>
					</div>
					<!-- /Billing Details -->

				</div>
				
			
			</div>
			<!-- Order Details -->
			<div class="col-md-5 order-details">
				<div class="section-title text-center">
					<h3 class="title">Your Order</h3>
				</div>
				<div class="order-summary">
					<div class="order-col">
						<div><strong>PRODUCT</strong></div>
						<div><strong>TOTAL</strong></div>
					</div>
					<div class="order-products">
						@foreach(var item in basket.Items)
						{
							<div class="order-col">
								<div>@item.Quantity x @item.Product.Name</div>
								<div> @{
										var total = item.Quantity * @CurrencyHelper.ConvertCurrency(item.Product.Price, rate);
									}
									@total @Currency
								</div>
							</div>

						}

					</div>
					<div class="order-col">
						<div>Shiping</div>
						<div><strong>FREE</strong></div>
					</div>
					<div class="order-col">
						<div><strong>TOTAL</strong></div>
						<div><strong class="order-total">@TotalPrice</strong>
							
						</div>
					</div>
				</div>
				
				<div class="input-checkbox">
					<input type="checkbox" id="terms">
					<label for="terms">
						<span></span>
						I've read and accept the <a href="#">terms & conditions</a>
					</label>
				</div>
				<a asp-action="order" asp-controller="cart" class="primary-btn order-submit">Place order</a>
			</div>
			<!-- /Order Details -->
		</div>
		<!-- /row -->
	</div>
	</div>
	<!-- /container -->
